<div class="card">
    <div class="card-header">
        <h4 class="font-weight-bold">Add New Location</h4>
    </div>
    <div class="card-body">
        <form action="/addLocation" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="name">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="enter location name" id="firstname">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="lastname">Country</label>
                        <input type="text" class="form-control" name="lastname" placeholder="enter last name" id="lastname">
                    </div>
                </div>
            </div>
            <div class="">
                <button type="submit" class="btn btn-success">Add</button>
                <a href="/" class="btn btn-light">Cancel</a>
            </div>
        </form>
    </div>
</div>