<div class="card">
    <div class="card-header">
        <h4 class="font-weight-bold">Add New Location</h4>
    </div>
    <div class="card-body">
        <form action="/addLocation" method="post">
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="form-group">
                        <label class="col-form-label" for="name">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Enter location name" id="name" />
                    </div>
                </div>
                <div class="col-12 mb-5">
                    <div class="form-group">
                        <label class="col-form-label" for="country">Country</label>
                        <input type="text" class="form-control" name="country" placeholder="Enter Country name" id="country">
                    </div>
                </div>
            </div>
            <div class="">
                <button type="submit" class="btn btn-success"><i class="fa-solid fa-check"></i> Add</button>
                <a href="/" class="btn btn-light ms-2">Cancel</a>
            </div>
        </form>
    </div>
</div>